{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
    <p style="text-align: center; font-size: 4rem"> Current Amount: {{ state.currentAmount }}</p>
    <p style="text-align: center; font-size: 3rem"> Total Monthly Payments: {{ state.totalMonthlyPayments }}</p>
    <p style="text-align: center; font-size: 3rem"> Total Subscriptions: {{ state.totalSubscriptions }}</p>
    <a class="btn btn-success m-2" style="font-size:2rem; width: 100px" type="submit" href="/add">Add</a>
    <a class="btn btn-danger m-2" style="font-size:2rem; width: 100px" type="submit" href="/pay">Pay</a>
</div>
<div class="row d-flex justify-content-center">
    <a class="col-1 btn btn-primary m-2" style="font-size:2rem; width: 200px" type="submit" href="/subscribe">Subscribe</a>
    <a class="col-1 btn btn-info m-2" style="font-size:2rem; width: 200px" type="submit" href="/change">Change</a>
</div>
<div class="row d-flex justify-content-center">
    <a class="col-1 badge badge-dark text-decoration-none d-flex justify-content-center me-2" style="font-size:1.5rem" href="/">Mkd</a>
    <a class="col-1 badge badge-dark text-decoration-none d-flex justify-content-center ms-3" style="font-size:1.5rem;" href="/?eur">Euro</a>
</div>
{% if state.salaryNotReceived %}
<div class="row d-flex justify-content-center">
    <a class="col-3 btn btn-success m-2" style="font-size:2rem; width: 300px" type="submit" href="/addSalary">Salary Received</a>
</div>
{% endif %}
<br>
<br>
<div class="row">
{% for month, amount in months.items %}
<div class="col" style="text-align: left; font-size:2.5rem"> {{ month }} </div>
<div class="col mb-2" style="text-align: right; font-size:2.5rem"> {{ amount }} </div>
<br>
<hr>
{% endfor %}
<form method="post" action="/notes"> {% csrf_token %}
    <div class="form-group" style="margin: 0 auto;">

        <label class="mb-3 d-flex justify-content-center" for="text">Note</label>
        <div class="d-flex justify-content-center">
            <input class="input-group-text bg-dark text-white" type="text" name="text" id="text" style="width: 100px; text-align: left;" required/>
        </div>
        
        <div class="mt-3 d-flex justify-content-center">
            <input class="btn btn-primary" type="submit" value="Add Note">
        </div>
    </div>
</form>
</div>
{% endblock content %}