{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
    <a class="col-2 btn btn-info mx-2" href="/notes/addnote">
        Add Note
    </a>
</div>
<br>
{% for note in object_list %}
<div class="row">
    <div class="col">
        {{ note }}
    </div>
    <div class="col">
        <a class="btn btn-success mx-2" href="/notes/{{ note.id }}">
            Edit
        </a>
        <a class="btn btn-danger" href="/notes/delete/{{ note.id }}">
            Delete
        </a>
    </div>
</div>
<br>
{% endfor %}
{% endblock content %}