<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>{% block Title %} Finances {% endblock Title %}</title>
    {% include 'navbar.html' %}
</head>
<body class="bg-dark text-white">
<br>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">    
        <div style="text-align: center; width: 1050px;">
                {% block content %}
                {% endblock content %} 
        </div>
    </div>  
</div>   
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>